doctype
html(style="height:100%;")
  head
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

  body(style="height:100%; margin:0;")
	img(src="cid:cozy-logo" width="63" height="48" style="padding: 12px 0; margin: auto;")

	br
	|Your file [a(href=#{downloadUrl})#{filename}] has been downloaded successfully !
	|It was submitted within the URL [a(href=#{url})#{url}]
	|Find it on a(href=#{localHost})your cozy !

